    .navbar{
        display: flex;
        align-items: center; 
        justify-content: space-evenly;
        
    
    }
    .navbar-center a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        border: none;
        font-size: large;
    }
    
.right-side {
    
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
    height: 4rem;
    margin-right: 3rem;
}
.navigate{
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
    justify-content: center;
}
.navigate li{
    cursor: pointer;
    margin-right: 1rem;
    list-style: none;
    cursor: pointer;
}
.navigate li:hover{
    border-bottom: 3px solid rgb(0, 0, 0);
}

.navbar-left{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.right-side img{
    cursor: pointer;
}
.sign-in{
    
    background-color: rgb(171, 206, 243);
    color: rgb(0, 0, 0);
    padding: 0.8rem;
    border-radius: 20px;
    border: none;
    padding-inline: 2.5rem;
    font-size: 0.9rem; 
    cursor: pointer;   
}
.sign-in:hover{
    background-color: rgb(50, 113, 185);    
    scale: 1.04;
    color: aliceblue;
}
.disc p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    width: 15rem;
}

.profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
}
.dropdown{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
}
.profile-icon:hover .dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(235, 178, 178);
}
.dropdown hr{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;    
}
.dropdown p{
    font-size: 0.8rem;
    cursor: pointer;
}
.dropdown p:hover{
    color: rgb(232, 106, 106);
    background-color: rgb(235, 178, 178);
    border-radius: 0.5rem;
    scale: 1.1;
}
.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.profile-icon:hover.profile-pic img{
    width: 2rem;
}
.orders{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.profile-icon:hover.orders img{
    width: 1.5rem;
}
.profile-icon:hover .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.navbar-center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    width: 30%;
}
.navbar-center a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
}
.navbar-center a:hover{
    color: rgb(232, 106, 106);

    scale: 1.1;
}
@media screen and (max-width: 1050px) {
    .navbar-left img{
        width: 120px;
    }
    .navbar-center a{
        font-size: 0.7rem;
    }
    .right-side {
        width: 11rem;
    }
    .right-side .sign-in{
        font-size: 0.7rem;
        padding-inline: 1.5rem;
    }
    
}
@media screen and (max-width: 750px) {
    .navbar-left img{
        width: 100px;
    }
   
}
@media  screen and (max-width: 650px) {
    .navbar-center a{
        display: none;
    }
    .right-side{
        width: 7rem;
    }
    .right-side .sign-in{
        font-size: 0.4rem;
        padding-inline: 0.8rem;
    }
}
@media  screen and (max-width: 500px) {
    .navbar-left img{
        width: 70px;
        scale: 1.4;
        align-items: start;
    }
    .right-side .search-img{
        display: none;
    }
    .right-side img{
        width: 25px;
        
        padding-bottom: 10px;
    }
    
}