
.my-orders-details-item{
    display:grid;
    grid-template-columns: repeat(5 , 1fr);
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #000;
    border-radius: 10px;
}
.my-orders-details-item button{
    background-color: #f57230;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.my-orders-details-item p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.my-orders-details-item img{
    width: 80px;
}
.my-orders-details-item .order-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.my-orders-details-item .order-amount{
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.my-orders-details-item .order-status{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    padding: 40px;
}
.my-orders-details{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
